
.container {
    padding: 8px;
    background-color: #c7ac9aab;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  #header {
    justify-content: space-evenly;
    display: flex;
    background-color: #a1855ae3;
    width: 100%;
    height: 100px;
    align-items: center;
  }
  
  .class-logo,
  .center{
    display: flex;
  }
  
.class-logo {
    flex: 1;
    float:right;
    width: 100px;
    padding: 7px;
  }
 
nav {
  flex: 2;
  display: inline-block;
  }
  
.center {
  justify-content: space-evenly; 
  list-style: none;
  }

.center {
  color: #6d6767;
  text-decoration: none;
}

.page-content { background-color: #f7f2f2a8; }

.nav .center a {
  text-shadow: 0 0 2px #ff0000ad;
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: larger;
  color: rgba(165, 42, 42, 0.575);
}

.nav a:hover{
  text-decoration: none;
	color: rgba(238, 2, 61, 0.877);
} 

.main-title{
  font-style: italic;
  color: #996633;
  font-size: 35px;
  text-align: center;
}

#intro-img {
  background-image:url(./img/coffee-moments-1.jpg);
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

.quote{
  color: rgb(255, 255, 255);
  font-family: "Helvetica Neue";
  text-align: center;
  }

.menu{
  justify-content: center;
  display: flex ;
  flex: 1;
}

.section-header {
  color: #996633;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

table {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 5px rgb(255, 255, 255)
 
}
 
td {
  text-align: center;
  padding: 10px 15px;
}

.text-left { text-align: left; }
 
th {
  color: #000000;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 15px;
}

tr:nth-child(odd) { background-color: #dfb1b179; }

tr.tr-header {
  background-color: #f0292959;
  height: 50px;
}

hr {
  width: 60%;
  border: 0.5px solid rgb(197, 173, 173);
}

.section {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.section-small {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

p {
  font-size: 1.1rem;
  line-height: 1.7;
}

img { max-width: 100%;}
figure { margin: 0; }
figcaption { text-align: center; }

figcaption span {
  display: block;
  color: #752f2fe5;
  font-size: 19px;
}
 
.item-name {
  margin-top: 20px;
  margin-bottom: 10px;
}
  
.special-items {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.special-item {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

#footer{
  padding-top: 2px;
  font-family:serif;
  text-align: center;
   width: 100%;
   height: 140px;
   background-color: #a1855ab6    
}

.footer-content p{
 font-size: large;
 font-weight: 500;
 margin: 10px auto;
 margin-bottom: 20px;
} 

.footer-bottom p{
 font-size: medium; 
 color: black;
 word-spacing: 2px;
 text-transform: capitalize;
}

.footer-bottom a{
 color: black;
}

.footer-bottom a:hover{
  color:  #743838;
 }



@media screen and (min-width: 450px) and (max-width: 580px) {
#intro-img{
  min-height: 300px;
}
.main-title{
font-size: 25px;
  }
.align-table{
max-width: 400px;
margin-left: auto;
margin-right: auto;
width: 100%;
}
.quote{
font-size: 17px;
text-align: center;
   }
.special-items img{
width: 95%;
height: 95%;
display: flex;
justify-content: center; 
}
th, td{
  font-size: 14px; 
  }
.item-name, .item-price{
  font-size: medium;
}
.section-small p{
  font-size: 11px;
}
#header{
width: 100%;
height: 75px;
  }
.class-logo{
width: 75px;
height: 60px;
padding: 7px;
  }
.nav .center a {
  font-size: 15px;
      }
#footer p, h3{
font-size: 15px;
}
}
  
@media screen and (min-width: 580px) and (max-width: 670px) {
.align-table{
max-width: 500px;
margin-left: auto;
margin-right: auto;
width: 100%;
  }
.main-title{
font-size: 27px;
}
.quote{
font-size: 20px;
text-align: center;
 }
th, td{
font-size: medium; 
}
#header{
width: 100%;
height: 80px;
}
.class-logo{
width: 80px;
height: 70px;
padding: 7px;
}
.section-small p{
font-size: 14px;
}
.nav .center a {
font-size: 20px;
  }
#footer p, h3{
font-size: medium;
}
}

           
@media screen and (max-width: 870px){
table{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#intro-img{
  min-height: 400px;
}
.section-small p{
font-size: 1rem;
line-height: 1.7;
}
.quote{
font-size: 25px;
text-align: center;
}
.special-items{
display: flex;
margin-left: 1px;
margin-right: 1px;
}
 }






